The Iris Dataset is a famous dataset for beginners in ML with about only 150 entries and 4 features.
There are 3 species of Iris flower - Iris-setosa, Iris-versicolor and Iris-virginica
We first divide the dataset into 2 parts, train and test and then classify the flowers from the test dataset into one of the 3 categories.

We use the following algorithms from sklearn library:
1. Linear Regression
2. Logistic Regression
3. Decision Tree
4. Naive Bayes
5. Support Vector Machine

In [25]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

from sklearn import linear_model
from sklearn import tree
from sklearn.naive_bayes import GaussianNB
from sklearn import svm

from matplotlib import pyplot as plt
import random

df = pd.read_csv("iris-species/Iris.csv")

In [26]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [27]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [28]:
data = df.iloc[:,:4]
(data.head(10))

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm
0   1            5.1           3.5            1.4
1   2            4.9           3.0            1.4
2   3            4.7           3.2            1.3
3   4            4.6           3.1            1.5
4   5            5.0           3.6            1.4
5   6            5.4           3.9            1.7
6   7            4.6           3.4            1.4
7   8            5.0           3.4            1.5
8   9            4.4           2.9            1.4
9  10            4.9           3.1            1.5

In [29]:
target = df.iloc[:,5:]
target.head()

       Species
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [30]:
target.replace(['Iris-setosa','Iris-versicolor','Iris-virginica'],[0.0,1.0,2.0],inplace=True)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
print(target.head())

   Species
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0

In [32]:
# create training and testing vars
n = random.randint(1,100)
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state = n)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(120, 4) (120, 1)
(30, 4) (30, 1)

In [33]:
#Linear Regression

lm = linear_model.LinearRegression()
model = lm.fit(X_train, y_train)
predictions = lm.predict(X_test)
print("Accuracy for linear regression: " + str(model.score(X_test, y_test)))

Accuracy for linear regression: 0.93555233991

In [34]:
#Logistic Regression
n = random.randint(1,100)
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state = n)

lg = linear_model.LogisticRegression()
model = lg.fit(X_train,y_train.values.ravel())
predictions = lg.predict(X_test)
print("Accuracy for logistic regression: " + str(model.score(X_test,y_test)))

Accuracy for logistic regression: 0.9

In [35]:
#Decision Tree Classifier

n = random.randint(1,100)
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state = 40)

dTree = tree.DecisionTreeClassifier()
model = dTree.fit(X_train,y_train)
predictions = dTree.predict(X_test)
print("Accuracy for Decision Tree Classifier: " + str(model.score(X_test,y_test)))

Accuracy for Decision Tree Classifier: 1.0

In [36]:
#Naive Bayes

n = random.randint(1,100)
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state = n)

nb = GaussianNB()
model = nb.fit(X_train,y_train.values.ravel())
predictions = nb.predict(X_test)
print("Accuracy for Naive Bayes: " + str(model.score(X_test,y_test)))

Accuracy for Naive Bayes: 1.0

In [37]:
#Support Vector Machine

n = random.randint(1,100)
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state = n)

supportVm = svm.SVC()
model = supportVm.fit(X_train,y_train.values.ravel())
predictions = supportVm.predict(X_test)
print("Accuracy for Support Vector Machine: " + str(model.score(X_test,y_test)))

Accuracy for Support Vector Machine: 1.0